<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/navigation') %>
    <main>
      <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 border-bottom">Ejercicio 02</h2>
        <p> <b>* Nomenclatura </b></p>
        <div class="card">
          <div class="card-body">
            <p class="card-text">Te presentamos el siguiente fragmento de código:</p>
            <p>function f(x, y, z) { </p>
              <p>let a = x + y;</p> 
              <p>let b = a * z;</p> 
              <p>let c = Math.sin(b);</p> 
              <p>return c;</p> 
            <p>}</p>
            <p>Reemplaza los nombres de las variables con nombres más descriptivos que reflejen mejor su función.</p>
          </div>
          <div class="card-footer">
            <h5 class="card-title"><b>Resultado</b></h5>
              <p><b>a </b>= sumaValores</p> 
              <p><b>b </b>= multiValores</p> 
              <p><b>c </b>= senoRadiales</p>
          </div>
        </div>



      </div>
    </main>
</body>

</html>